.eventTableHeaderRow > th {
  font-weight: bold;
  color: #1d697c;
}

.tableNotesDiv {
  max-width: 500px;
  max-height: 200px;
  overflow: auto;
  width: 100%;
}

.eventTable {
  border: 10px #1d697c;
}

.editEventModalContainer {
  background-color: white;
  width: 800px;
  align-items: center;
  display: inline-block;
}

.closeModalButton {
  margin-left: 30% !important;
  width: 40%;
}
